<?xml version='1.0' encoding='utf-8'?>
<widget id="com.dynamsoft.dbr" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>DBR</name>
    <description>
        A sample Apache Cordova Barocde Scanner using Dynamsoft Barcode Reader
    </description>
    <author email="tony@dynamsoft.com" href="https://github.com/xulihang">
        Xu Lihang
    </author>
    <content src="index.html" />
    <access origin="*" subdomains="true" />
    <allow-navigation href="https://*.ngrok.io/*" />
    <allow-intent href="ws://*/*" />
    <allow-intent href="wss://*/*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <preference name="AppendUserAgent" value="iOSRTC Sample" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="Fullscreen" value="false" />
</widget>
